#poni {
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/171/873/original/abstract-boxes-background-modern-technology-with-square-mesh-geometric-on-white-background-with-lines-cube-cell-illustration-free-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
} 
#shua { 
    text-align: center ;
}
#ret {
    margin-left: 100PX
} 

  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration:underline ;
  }
#sheweva
{border: neno;
    margin-top: -300px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 450px;
    background-color: neno;
  }
#shewev
  {border: neno;
      margin-top: -130px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 450px;
      background-color: neno;
    }
#erti
    {border: neno;
        margin-top: 200px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 950px;
        background-color: neno;
      }    
#shewe
      {border: neno;
          margin-top: -400px;
          margin-bottom: 100px;
          margin-right: 150px;
          margin-left: 400px;
          background-color: neno;
        } 
        #we{margin-left:150px ;} 
