#poni {
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/171/873/original/abstract-boxes-background-modern-technology-with-square-mesh-geometric-on-white-background-with-lines-cube-cell-illustration-free-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
} 
#shua { 
    text-align: center ;
}
#ret {
    margin-left: 100PX
} 

  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration:underline ;
  }
  