#poni {
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/171/873/original/abstract-boxes-background-modern-technology-with-square-mesh-geometric-on-white-background-with-lines-cube-cell-illustration-free-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
} 
#shua {
    text-align: center
}
#ret {
    margin-left: 100px
} 

#link1
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(19, 186, 25);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active  {
    color: rgb(8, 80, 235);
    background-color: transparent;
    text-decoration: underline;
  }
 .flex-container{
    display: flex;
    flex-wrap: wrap;
   ;}
   .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 75px;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
  }

  
