#div {
    border: 2px solid rgb(0, 0, 0);
    padding: 2px;
    width: 600px;
    height: 700px;
    text-align: justify;
    margin-left: 100px;
    font-style: normal;
  }
#fas { 
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(159, 12, 12, 0.805);
    width:165px ;
    margin-left: 10px
}  
#ret {
    margin-left: 10px
}  
#fass{  border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    width:165px ;
    margin-left: 10px}
#re {
    margin-left: 13px
}  
#fasss { 
     border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
   
    width:165px ;
    margin-left: 10px
}  
#das{
    margin-left: 100px;
  }                    